<div *ngIf="isUserActive; else noUserTemplate" >
    <h1>Administrador de Propiedades</h1>
    <a (click)="addEstate()" class="login-btn">Agregar Propiedad</a>
    <div *ngFor="let estates of estates" class="property-card">
      <h2>{{ estates.title }}</h2>
      <p>{{ estates.description }}</p>
      <p>Precio por noche: ${{ estates.pricePerNight }}</p>
      <p>Dirección: {{ estates.address }}</p>
      <a (click)="updateEstate(estates)" class="login-btn">Editar</a>
      <a (click)="deleteProperty(estates.id)" class="login-btn" >Eliminar</a>
    </div>
  </div>
  <ng-template #noUserTemplate>
    <p>No hay un usuario activo. Por favor, inicia sesión para agregar propiedades.</p>
  </ng-template>