/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.header {

    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../src/assets/banner.jpg);
    background-size: cover;
    background-position: center; 
}

.header2  {

    min-height: 8vh;
    width: 100%;
    background-size: 20vw;
    background-position: center;
    background-color: #000 ;
    margin-bottom: 10px;
}


.login-btn {
    background: #fff;
    color: #000;
    padding: 10px 15px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 14px;
 margin: 20px 30px;

}

.form-btn {
    background: #fff;
    color: #000;
    padding: 8px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 14px;
}

.container {
    padding: 0 7%;
}

.header h1 {
    font-size: 4vw;
    font-weight: 500;
    color: #fff;
    text-align: center;
    padding-top: 22%;
    margin-top: 0px;
}

.search-bar {
    background: #fff;
    width: 70%;
    margin: 30px auto;
    padding: 6px 10px 6px 30px;
    border-radius: 50px;
}

.search-bar form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.search-bar form input {
    display: block;
    border: 0;
    outline: none;
    background: transparent;
}

.search-bar form button {
    background: #00a1d9;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0.1;
    border-style: solid;
    outline: none;
    cursor: pointer;
}

.search-bar form img {
    width: 25;
    margin-top: 7px;
}

.location-input {
    flex: 1;
}

.search-bar form label {
    font-weight: 600;
}

/*-------Exclusives--------*/

.sub-title {
    margin: 50px 0 20px;
    font-size: 2.2vw;
    font-weight: 500;
    color: #333;
}

.exclusives {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 30px;
}

.exclusives div img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.exclusives div {
    position: relative;
}

.exclusives div span {
    position: absolute;
    top: 75%;
    left: 10%;
    transform: translate(-50% -50%);
    text-align: left;
    color: #fff;
}

.exclusives div span h3 a {
    text-decoration: none;
    color: #fff;
}

/*---------------------------Trending-------------------*/
.trending {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 40px;
    margin-bottom: 30px;
}

.trending div img {
    width: 100%;
    border-radius: 10px;
    height: 100%;
}

.trending h3 {
    font-weight: 600;
    margin: 10px;
}

.trending div h3 a {
    text-decoration: none;
    color: #000;
}

/*call to action*/

.cta {
    margin: 80px 0;
    background-image: linear-gradient(to right, #3f2321, transparent), url(../src/assets/banner2.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 5%;
    color: #fff;

}

.cta h3 {

    font-size: 4vw;
    line-height: 5.3vw;
    font-weight: 500;
}

.cta p {

    font-size: 18px;
    margin: 10px 0;
}

.cta-btn {
    background: #00a1d9;
    color: #fff;
    text-decoration: none;
    padding: 12px 30px;
    border-radius: 8px;
    margin-top: 20px;
    display: inline-block;
}

/*-----------------------about us--------------------*/

.about-msg {
    text-align: center;
    margin: 80px 0;
    color: #333;
    font-size: 17px;
}

.about-msg h2 {
    font-size: 28px;
    margin-bottom: 30px;
    font-weight: 500;
}

/* ----------footer-------------*/
.footer {
    margin: 80px 0 10px;
    text-align: center;
}

.footer a {
    text-decoration: none;
    color: #999;
    font-size: 25px;
    margin: 0 10px;
}

.footer hr {
    background: #999;
    height: 1px;
    width: 100%;
    border: 0;
    margin: 20px 0;
}

.footer p {
    padding-bottom: 15px;
}

nav .fa-bars {
    display: none;
}

/*-------------- for small screen devices ----------*/

@media only screen and (max-width:1255px) {

    .logo {
        position: fixed;
        top: 4%;
        left: 7%;
    }

    nav {
        position: fixed;
        top: 0;
        z-index: 100;
        display: inline-block;
        width: 100%;
        padding: 100px 7% 0;
        background: #000;
        text-align: right;
        max-height: 100px;
        overflow: hidden;
        transition: max-height 0.5s;
    }

    nav .nav-links li {
        margin: 15px 0;
        display: block;
    }

    .login-btn {
        margin: 15px 0 30px;
        display: inline-block;
    }

    nav .fa-bars {
        display: block;
        position: fixed;
        top: 3.5%;
        right: 21%;
        color: #fff;
        font-size: 28px;
        cursor: pointer;
    }

    nav .fa-hotel{
        display: block;
        position: fixed;
        top: 3.5%;
        right: 14%;
        color: #fff;
        font-size: 28px;
        cursor: pointer;
    }
    nav .fa-door-closed{
        display: block;
        position: fixed;
        top: 3.5%;
        right: 14%;
        color: #fff;
        font-size: 50px;
        cursor: pointer;
    }

    nav .fa-user{
        display: block;
        position: fixed;
        top: 3%;
        right: 7%;
        color: #fff;
        font-size: 28px;
        cursor: pointer;
    }

    .hidemenu {
        max-height: 300px;
    }


    .header h1 {
        padding-top: 200;
        font-size: 7vw;
    }

    .search-bar {
        width: 90%;
        margin: 30px auto;
        padding: 20px 10px 30px;
        border-radius: 5px;
        position: relative
    }

    .search-bar form {
        display: block;
    }

    .search-bar form input {
        border-bottom: 1px solid #ddd;
        width: 100%;
        margin-bottom: 20px;
        margin-top: 10px;
        padding-bottom: 10px;
    }

    .search-bar form button {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50, 50);
    }

    .sub-title {
        font-size: 6vw;
    }

    .cta {
        padding: 15% 5%;
    }

    .cta h3 {
        font-size: 7vw;
        line-height: 8vw;
    }

    .cta p {
        font-size: 14px;
    }

    .cta-btn {
        padding: 6px 15px;
        border-radius: 4px;
        margin-top: 10px;
        font-size: 14px;
    }

    .about-msg {
        font-size: 15px;
    }

    .exclusives div span {
        position: absolute;
        top: 65%;
    }

    /*---------------Login-------------------*/
    .login-box {

        width: 100%;
        margin: 100px;
        padding: 20px 10px 30px 30px;
        border-radius: 5px;
        position: relative;
        left: 10px;

    }
}
.login-container {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 30px;
    justify-content: center;
}

.login-box {

    padding: 40px;
    border-radius: 10px;
    box-shadow: 10vw 10vw 10vw 10vw rgba(0, 0, 0, 0.1);
    max-width: 40vw;
    max-height: 30vw;
    min-width: 35vw;
}

.login-box a {
    text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    color: white;
    display: block;
    text-align: center;
}

.login-box h2 {
    font-family: 'poppins', sans-serif;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 20px;
}

div .login-btn {
    background-color: #fff;
    color: #000;
    cursor: pointer;
}

div h1{

    margin-top: 60px;
}

.input-text {
    font-family: 'poppins', sans-serif;
    background-color: #ffffff;
    border: 5px solid #F7F7F7;
    color: #000000;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.hidebtn{
    display: none;
}
