<div class="container">
    <h1>Encuentra tu próxima estancia</h1>

    <div class="search-bar">

        <form>
            <div class="location-input">
                <label>Dónde</label>
                <input type="text" placeholder="Explora destinos">
            </div>
            <div>
                <label>Llegada</label>
                <input type="text" placeholder="Agrega Fecha">
            </div>

            <div>
                <label>Salida</label>
                <input type="text" placeholder="Agrega fecha">
            </div>

            <div>
                <label>Quien</label>
                <input type="text" placeholder="¿Cuantos?">
            </div>
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
    </div>
</div>